*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-image: url("images/banner.jpg");
}
  
.account-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.774);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
  
.account-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.account-box .user-box {
  position: relative;
}
  
.account-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}


.account-box form .btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.account-box .btn:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.selector{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.account{
  text-decoration: none;
  color: #ffff;
}

.account:hover{
  text-decoration: underline;
}

button{
  border: none;
  cursor: pointer;
  background: none;
}