.box{
    height: 100vh;
    display: flex;

    /* Các trường của flex-direction */

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: columm; */
    /* flex-direction: columm-reverse; */

    /* Các trường của flex-warp  */

    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */

    /* Các trường của justify-content */

    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;

    /* Các trường của align-item */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;

}

.box-item1{
    width: 20px;
    height: 20px;
    background: rgb(255, 0, 0);
    padding: 20px;
}

.box-item2{
    width: 20px;
    height: 20px;
    background: rgb(187, 255, 0);
    padding: 20px;
}

.box-item3{
    width: 20px;
    height: 20px;
    background: rgb(0, 255, 76);
    padding: 20px;
}

.box-item4{
    width: 20px;
    height: 20px;
    background: rgb(98, 0, 255);
    padding: 20px;
}

.box-item5{
    width: 20px;
    height: 20px;
    background: rgb(204, 0, 255);
    padding: 20px;
}

.box-item6{
    width: 20px;
    height: 20px;
    background: rgb(255, 0, 149);
    padding: 20px;
}

.box-item7{
    width: 20px;
    height: 20px;
    background: rgb(111, 0, 255);
    padding: 20px;
}

.box-item8{
    width: 20px;
    height: 20px;
    background: rgb(0, 247, 255);
    padding: 20px;
}

.box-item9{
    width: 20px;
    height: 20px;
    background: rgb(157, 255, 0);
    padding: 20px;
}

.box-item10{
    width: 20px;
    height: 20px;
    background: rgb(47, 0, 255);
    padding: 20px;
}