@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #6759ff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #6759ff;
}

.searchTerm:focus{
  color: #6759ff;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #6759ff;
  background: #6759ff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#products {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 8em 0;
}

.card {
  background-color: #ffffff;
  max-width: 18em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.container {
  padding-top: 1em;
  color: #110f29;
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    height: 10em;
  }
  
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}